{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- <div class="container mt-4">   
    <h1 class="about-header" >About Page</h1>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <div id="main-para">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Ut blanditiis sunt error. Perspiciatis consectetur, nisi blanditiis consequuntur tempora dolores
             quibusdam illo dolorum suscipit, assumenda quisquam mollitia eos, harum quaerat ea!
        </p>
    </div>
    <div class="flex-container">
    <div class="box box-1">
        <h3>Box 1</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, 
            temporibus inventore vitae quia cupiditate quo consectetur 
            autem accusantium fuga, illo voluptatem ex modi error sint fugiat labore. Quas, laudantium animi?
        </p>
    </div>
    <div class="box box-2">
        <h3>Box 2</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, 
            temporibus inventore vitae quia cupiditate quo consectetur 
            autem accusantium fuga, illo voluptatem ex modi error sint fugiat labore. Quas, laudantium animi?
        </p>
    </div>
    <div class="box box-3">
        <h3>Box 3</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, 
            temporibus inventore vitae quia cupiditate quo consectetur 
            autem accusantium fuga, illo voluptatem ex modi error sint fugiat labore. Quas, laudantium animi?
        </p>
    </div>
</div>

</div> -->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<header class="header">
    <h1>Sneaker Hut</h1>
</header>

<nav>
    <ul class="main-menu">
        <li><a href="#">Jordans</a></li>
        <li><a href="#">Nike</a></li>
        <li><a href="#">Chuck Taylors</a></li>
        <li><a href="#">New Balance</a></li>

    </ul>
</nav>

<section>
    <p class="lead">We have the best selection for old school and new era sneakers</p>

    <p> 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Accusantium consequatur, 
        quaerat praesentium facilis fugiat dolor enim delectus, est officia alias quam, 
        repellat necessitatibus blanditiis. A iusto eos vero. Iure, impedit.
    </p>

</section>



{% endblock %}
