<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body class="bg-dark">
    <nav class="navbar navbar-dark bg-dark mt-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepage'%}">YOUR PHONEBOOK</a>
        </div>
    </nav>
    <div class="table-responsive bg-dark container" style="height: 800px; width:500px; overflow-y: auto;">
        {% comment %} <form method="post" id="contactForm"> {% endcomment %}
            {% comment %} {% csrf_token %} {% endcomment %}
            <div class="form-group">
                <label class="text-light" for="{{object.first_name.label}}">First Name</label>
                <input type="text" class="form-control" value="{{ object.first_name }}" disabled>
            </div>
            <div class="form-group mt-3">
                <label class="text-light" for="{{object.last_name.label}}">Last Name</label>
                <input type="text" class="form-control" value="{{ object.last_name }}" disabled>
            </div>
            <div class="form-group mt-3">
                <label class="text-light" for="{{object.company.label}}">Company</label>
                <input type="text" class="form-control" id="company" name="company" value="{{ object.company }}" disabled>
            </div>
            <div class="form-group mt-3">
                <label class="text-light" for="{{object.telephone_number.label}}">Telephone</label>
                <input type="text" class="form-control" id="telephone" name="telephone" value="{{ object.telephone_number }}" disabled>
            </div>
            <div class="form-group mt-3">
                <label class="text-light" for="{{object.mobile_phone_number.label}}">Mobile</label>
                <input type="text" class="form-control" id="mobile" name="mobile" value="{{ object.mobile_phone_number }}" disabled>
            </div>
            <button type="button" id="updateButton" class="btn btn-secondary mt-4"><a type="button" href="{% url 'update-contact' object.id %}"  style="color: white; text-decoration: none;">Update</a></button>
            {% comment %} <button type="submit" id="saveButton" class="btn btn-success mt-4" style="margin-left: 10px;" disabled>Save</button> {% endcomment %}
            <button type="submit" class="btn btn-danger mt-4" style="margin-left: 10px;"><a type="button" href="{% url 'update-contact' object.id %}"  style="color: white; text-decoration: none;">Delete</a></button>
    </div>
</body>
</html>

