{% extends "base.html" %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="container w-50">
            {% if form.errors %}
            <div class="alert alert-danger">
                <strong>Error!</strong> Please correct the following errors:
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li><strong>{{ field.label }}</strong>: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
                </div>
            {% endif %}
        {% for form_field in form %}
            <div class="form-group mt-3">
                <label for="{{ form_field.label }}" style="{% if form_field.errors.name %} color: #f5c6cb; {% else %} color: white;{% endif %}">{{ form_field.label}}</label>
                
                {% if form_field.name != 'password1' and form_field.name != 'password2' %}
                <input required type="text" class="form-control {% if form_field.errors.field %} is-invalid {% endif %}" id="id_{{ form_field.name }}" name="{{ form_field.name }}">
                {% else %}
                <input required type="password" class="form-control {% if form_field.errors.field %} is-invalid {% endif %}" id="id_{{ form_field.name }}" name="{{ form_field.name }}">
                {% endif %}
            </div>
        {% endfor %}
        <button class="btn btn-primary mt-4 w-50" type="submit"/>Login</button>

        </div>
    </form>
{% endblock %}
